@utility msc-container-bg-* {
  --mat-sidenav-content-container-background-color: --value(--color-*);
}

@utility msc-container-text-* {
  --mat-sidenav-content-container-text-color: --value(--color-*);
}

@utility msc-content-bg-* {
  --mat-sidenav-content-background-color: --value(--color-*);
}

@utility msc-content-text-* {
  --mat-sidenav-content-text-color: --value(--color-*);
}

@utility msc-scrim-color-* {
  --mat-sidenav-content-scrim-color: --value(--color-*);
}

@utility msc-container-shape-* {
  --mat-sidenav-content-container-shape: calc(var(--spacing) * --value(number));
}

@utility msc-container-elevation-shadow-* {
  --mat-sidenav-content-container-elevation-shadow: calc(var(--spacing) * --value(number));
}

@utility msc-container-w-* {
  --mat-sidenav-content-container-width: calc(var(--spacing) * --value(number));
}

@utility msc-container-divider-color-* {
  --mat-sidenav-content-container-divider-color: calc(var(--spacing) * --value(number));
}

@utility msn-container-bg-* {
    --mat-sidenav-container-background-color: --value(--color-*);
}

@utility msn-container-text-* {
    --mat-sidenav-container-text-color: --value(--color-*);
}

@utility msn-bg-* {
    --mat-sidenav-background-color: --value(--color-*);
}

@utility msn-text-* {
    --mat-sidenav-text-color: --value(--color-*);
}

@utility msn-scrim-color-* {
    --mat-sidenav-scrim-color: --value(--color-*);
}

@utility msn-container-shape-* {
    --mat-sidenav-container-shape: calc(var(--spacing) * --value(number));
}

@utility msn-container-elevation-shadow-* {
    --mat-sidenav-container-elevation-shadow: calc(var(--spacing) * --value(number));
}

@utility msn-container-w-* {
    --mat-sidenav-container-width: calc(var(--spacing) * --value(number));
}

@utility msn-container-divider-color-* {
    --mat-sidenav-container-divider-color: calc(var(--spacing) * --value(number));
}
