@utility msb-container-shape-* {
  --mat-snack-bar-container-shape: calc(var(--spacing) * --value(number));
}
@utility msb-button-color-* {
  --mat-snack-bar-button-color: --value(--color-*);
}

@utility msb-container-color-* {
  --mat-snack-bar-container-color: --value(--color-*);
}

@utility msb-supporting-text-* {
  --mat-snack-bar-supporting-text-color: --value(--color-*);
  --mat-snack-bar-supporting-text-size: --value(--text-*);
  /* prettier-ignore */
  --mat-snack-bar-supporting-text-size: --value(number, [number])rem;
}
@utility msb-supporting-font-* {
  --mat-snack-bar-supporting-text-font: --value(--font-*);
  --mat-snack-bar-supporting-text-weight: --value(--font-weight-*, integer, [integer]);
}

@utility msb-supporting-leading-* {
  --mat-snack-bar-supporting-text-line-height: calc(var(--spacing) * --value(number));
}
