@utility mtr-container-bg-* {
    --mat-tree-container-background-color: --value(--color-*);
}

@utility mtr-node-text-* {
    --mat-tree-node-text-color: --value(--color-*);
    --mat-tree-node-text-size: --value(--text-*);
    --mat-tree-node-text-size: --value(number, [number])rem;
}

@utility mtr-node-text-font-* {
    --mat-tree-node-text-font: --value(--font-*);
    --mat-tree-node-text-weight: --value(--font-weight-*, integer, [integer]);
}

@utility mtr-node-min-h-* {
    --mat-tree-node-min-height: calc(var(--spacing) * --value(number));
}
