/*
Components:
- ion-action-sheet
- ion-alert
- ion-back-button
- ion-button
- ion-card
- ion-chip
- ion-content
- ion-datetime
- ion-fab-button
- ion-input
- ion-item
- ion-item-divider
- ion-item-option
- ion-list-header
- ion-loading
- ion-menu
- ion-menu-button
- ion-modal
- ion-popover
- ion-progress-bar
- ion-router-link
- ion-searchbar
- ion-segment
- ion-segment-button
- ion-select
- ion-skeleton-text
- ion-tab-bar
- ion-tab-button
- ion-textarea
- ion-toast
- ion-toolbar
*/
@utility ion-bg-* {
    --background: --value(--color-*, 'transparent');
}
/*
Components:
- ion-action-sheet
- ion-alert
- ion-back-button
- ion-item
- ion-loading
- ion-menu
- ion-modal
- ion-popover
- ion-toast
- ion-toolbar
*/
@utility ion-min-h-* {
    --min-height: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-action-sheet
- ion-alert
- ion-back-button
- ion-loading
- ion-menu
- ion-modal
- ion-popover
- ion-toast
*/
@utility ion-min-w-* {
    --min-width: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-action-sheet
- ion-alert
- ion-loading
- ion-menu
- ion-modal
- ion-popover
- ion-range
- ion-toast
*/
@utility ion-h-* {
    --height: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-action-sheet
- ion-alert
- ion-loading
- ion-menu
- ion-modal
- ion-popover
- ion-toast
*/
@utility ion-max-h-* {
    --max-height: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-action-sheet
- ion-alert
- ion-loading
- ion-menu
- ion-modal
- ion-popover
- ion-toast
*/
@utility ion-max-w-* {
    --max-width: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-action-sheet
- ion-alert
- ion-loading
- ion-menu
- ion-modal
- ion-popover
- ion-toast
*/
@utility ion-w-* {
    --width: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-action-sheet
- ion-alert
- ion-loading
- ion-modal
- ion-popover
*/
@utility ion-backdrop-opacity-* {
    --backdrop-opacity: --value(number); /*TODO*/
}
/*
Components:
- ion-action-sheet
- ion-back-button
- ion-badge
- ion-breadcrumb
- ion-button
- ion-card
- ion-card-subtitle
- ion-card-title
- ion-chip
- ion-content
- ion-fab-button
- ion-input
- ion-item
- ion-item-divider
- ion-item-option
- ion-label
- ion-list-header
- ion-menu-button
- ion-note
- ion-radio
- ion-router-link
- ion-searchbar
- ion-segment-button
- ion-spinner
- ion-tab-bar
- ion-tab-button
- ion-textarea
- ion-title
- ion-toast
- ion-toolbar
*/
@utility ion-text-* {
    --color: --value(--color-*);
}
/*
Components:
- ion-action-sheet
- ion-toast
*/
@utility ion-text-button-* {
    --button-color: --value(--color-*);
}
/*
Components:
- ion-avatar
- ion-back-button
- ion-button
- ion-checkbox
- ion-fab-button
- ion-input
- ion-item
- ion-menu-button
- ion-modal
- ion-radio
- ion-searchbar
- ion-segment-button
- ion-select
- ion-skeleton-text
- ion-textarea
- ion-thumbnail
- ion-toast
- ion-toggle
*/
@utility ion-rounded-* {
    --border-radius: --value(--radius-*);
    --border-radius: --value(number)px;
}
/*
Components:
- ion-back-button
- ion-badge
- ion-button
- ion-content
- ion-fab-button
- ion-input
- ion-item
- ion-item-divider
- ion-menu-button
- ion-segment-button
- ion-select
- ion-tab-button
- ion-textarea
- ion-toolbar
*/
@utility ion-pt-* {
    --padding-top: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-back-button
- ion-badge
- ion-button
- ion-content
- ion-fab-button
- ion-input
- ion-item
- ion-item-divider
- ion-menu-button
- ion-segment-button
- ion-select
- ion-tab-button
- ion-textarea
- ion-toolbar
*/
@utility ion-ps-* {
    --padding-start: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-back-button
- ion-badge
- ion-button
- ion-content
- ion-fab-button
- ion-input
- ion-item
- ion-item-divider
- ion-menu-button
- ion-segment-button
- ion-select
- ion-tab-button
- ion-textarea
- ion-toolbar
*/
@utility ion-pe-* {
    --padding-end: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-back-button
- ion-badge
- ion-button
- ion-content
- ion-fab-button
- ion-input
- ion-item
- ion-item-divider
- ion-menu-button
- ion-segment-button
- ion-select
- ion-tab-button
- ion-textarea
- ion-toolbar
*/
@utility ion-pb-* {
    --padding-bottom: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-back-button
- ion-breadcrumb
- ion-button
- ion-fab-button
- ion-item
- ion-menu-button
- ion-segment-button
*/
@utility ion-text-hover-* {
    --color-hover: --value(--color-*);
}
/*
Components:
- ion-back-button
- ion-breadcrumb
- ion-button
- ion-fab-button
- ion-item
- ion-menu-button
- ion-segment-button
- ion-tab-button
*/
@utility ion-text-focused-* {
    --color-focused: --value(--color-*);
}
/*
Components:
- ion-back-button
- ion-breadcrumb
- ion-button
- ion-fab-button
- ion-item
- ion-menu-button
- ion-segment-button
- ion-tab-button
*/
@utility ion-bg-focused-* {
    --background-focused: --value(--color-*);
}
/*
Components:
- ion-back-button
- ion-button
- ion-checkbox
- ion-fab-button
- ion-item
*/
@utility ion-ease-* {
    --transition: --value(integer); /*TODO*/
}
/*
Components:
- ion-back-button
- ion-button
- ion-fab-button
- ion-item
- ion-menu-button
- ion-segment-button
*/
@utility ion-bg-hover-opacity-* {
    --background-hover-opacity: --value(number); /*TODO*/
}
/*
Components:
- ion-back-button
- ion-button
- ion-fab-button
- ion-item
- ion-menu-button
- ion-segment-button
*/
@utility ion-bg-hover-* {
    --background-hover: --value(--color-*);
}
/*
Components:
- ion-back-button
- ion-button
- ion-fab-button
- ion-item
- ion-menu-button
- ion-segment-button
- ion-tab-button
*/
@utility ion-bg-focused-opacity-* {
    --background-focused-opacity: --value(number); /*TODO*/
}
/*
Components:
- ion-back-button
- ion-button
- ion-fab-button
- ion-item
- ion-select
- ion-tab-button
*/
@utility ion-text-ripple-* {
    --ripple-color: --value(--color-*);
}
/*
Components:
- ion-back-button
- ion-button
- ion-toolbar
*/
@utility ion-opacity-* {
    --opacity: --value(number);
}
/*
Components:
- ion-back-button
- ion-segment-button
*/
@utility ion-me-* {
    --margin-end: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-back-button
- ion-segment-button
*/
@utility ion-mb-* {
    --margin-bottom: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-back-button
- ion-segment-button
*/
@utility ion-ms-* {
    --margin-start: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-back-button
- ion-segment-button
*/
@utility ion-mt-* {
    --margin-top: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-button
- ion-checkbox
- ion-fab-button
- ion-input
- ion-item
- ion-list-header
- ion-modal
- ion-segment-button
- ion-select
- ion-textarea
- ion-toast
- ion-toolbar
*/
@utility ion-border-* {
    --border-width: --value(number)px;
    --border-color: --value(--color-*);
    --border-style: --value('solid', 'dashed', 'dotted', 'double', 'groove', 'ridge', 'inset', 'outset', 'thin');
}
/*
Components:
- ion-button
- ion-fab-button
- ion-item
*/
@utility ion-text-activated-* {
    --color-activated: --value(--color-*);
}
/*
Components:
- ion-button
- ion-fab-button
- ion-item
*/
@utility ion-bg-activated-* {
    --background-activated: --value(--color-*);
}
/*
Components:
- ion-button
- ion-fab-button
- ion-popover
- ion-searchbar
- ion-toast
*/
@utility ion-shadow-* {
    --box-shadow: --value(integer); /*TODO*/
}
/*
Components:
- ion-checkbox
- ion-thumbnail
*/
@utility ion-size-* {
    --size: --value(integer)px; /*TODO*/
}
/*
Components:
- ion-datetime
- ion-skeleton-text
*/
@utility ion-bg-rgb-* {
    --background-rgb: --value(integer); /*TODO*/
}
/*
Components:
- ion-input
- ion-searchbar
- ion-select
- ion-textarea
*/
@utility ion-placeholder-opacity-* {
    --placeholder-opacity: --value(number); /*TODO*/
}
/*
Components:
- ion-input
- ion-searchbar
- ion-select
- ion-textarea
*/
@utility ion-placeholder-color-* {
    --placeholder-color: --value(--color-*);
}
/*
Components:
- ion-input
- ion-searchbar
- ion-textarea
*/
@utility ion-placeholder-font-style-* {
    --placeholder-font-style: --value(integer); /*TODO*/
}
/*
Components:
- ion-input
- ion-searchbar
- ion-textarea
*/
@utility ion-placeholder-font-weight-* {
    --placeholder-font-weight: --value(integer); /*TODO*/
}
/*
Components:
- ion-input
- ion-select
- ion-textarea
*/
@utility ion-highlight-color-focused-* {
    --highlight-color-focused: --value(--color-*);
}
/*
Components:
- ion-input
- ion-select
- ion-textarea
*/
@utility ion-highlight-color-invalid-* {
    --highlight-color-invalid: --value(--color-*);
}
/*
Components:
- ion-input
- ion-select
- ion-textarea
*/
@utility ion-highlight-h-* {
    --highlight-height: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-input
- ion-select
- ion-textarea
*/
@utility ion-highlight-color-valid-* {
    --highlight-color-valid: --value(--color-*);
}
/*
Components:
- ion-item
- ion-item-divider
*/
@utility ion-inner-pb-* {
    --inner-padding-bottom: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-item
- ion-item-divider
*/
@utility ion-inner-pt-* {
    --inner-padding-top: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-item
- ion-item-divider
*/
@utility ion-inner-ps-* {
    --inner-padding-start: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-item
- ion-item-divider
*/
@utility ion-inner-pe-* {
    --inner-padding-end: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-item
- ion-list-header
*/
@utility ion-inner-border-* {
    --inner-border-width: --value(number)px;
}
/*
Components:
- ion-radio
- ion-segment-button
*/
@utility ion-text-checked-* {
    --color-checked: --value(--color-*);
}
/*
Components:
- ion-action-sheet
*/
@utility ion-action-sheet-bg-selected-opacity-* {
    --button-background-selected-opacity: --value(number); /*TODO*/
}
@utility ion-action-sheet-text-disabled-* {
    --button-color-disabled: --value(--color-*);
}
@utility ion-action-sheet-text-focused-* {
    --button-color-focused: --value(--color-*);
}
@utility ion-action-sheet-text-hover-* {
    --button-color-hover: --value(--color-*);
}
@utility ion-action-sheet-text-selected-* {
    --button-color-selected: --value(--color-*);
}
@utility ion-action-sheet-bg-selected-* {
    --button-background-selected: --value(--color-*);
}
@utility ion-action-sheet-bg-hover-opacity-* {
    --button-background-hover-opacity: --value(number); /*TODO*/
}
@utility ion-action-sheet-bg-* {
    --button-background: --value(--color-*);
}
@utility ion-action-sheet-bg-activated-* {
    --button-background-activated: --value(--color-*);
}
@utility ion-action-sheet-bg-activated-opacity-* {
    --button-background-activated-opacity: --value(number); /*TODO*/
}
@utility ion-action-sheet-bg-focused-* {
    --button-background-focused: --value(--color-*);
}
@utility ion-action-sheet-bg-focused-opacity-* {
    --button-background-focused-opacity: --value(number); /*TODO*/
}
@utility ion-action-sheet-text-activated-* {
    --button-color-activated: --value(--color-*);
}
@utility ion-action-sheet-bg-hover-* {
    --button-background-hover: --value(--color-*);
}
/*
Components:
- ion-back-button
*/
@utility ion-back-button-icon-me-* {
    --icon-margin-end: calc(var(--spacing) * --value(number));
}
@utility ion-back-button-icon-ms-* {
    --icon-margin-start: calc(var(--spacing) * --value(number));
}
@utility ion-back-button-icon-mt-* {
    --icon-margin-top: calc(var(--spacing) * --value(number));
}
@utility ion-back-button-icon-mb-* {
    --icon-margin-bottom: calc(var(--spacing) * --value(number));
}
@utility ion-back-button-icon-pt-* {
    --icon-padding-top: calc(var(--spacing) * --value(number));
}
@utility ion-back-button-icon-pb-* {
    --icon-padding-bottom: calc(var(--spacing) * --value(number));
}
@utility ion-back-button-icon-pe-* {
    --icon-padding-end: calc(var(--spacing) * --value(number));
}
@utility ion-back-button-icon-ps-* {
    --icon-padding-start: calc(var(--spacing) * --value(number));
}
@utility ion-back-button-icon-text-* {
    --icon-font-size: --value(integer)px; /*TODO*/
}
@utility ion-back-button-icon-text-weight-* {
    --icon-font-weight: --value(integer); /*TODO*/
}
/*
Components:
- ion-breadcrumb
*/
@utility ion-breadcrumb-text-active-* {
    --color-active: --value(--color-*);
}
/*
Components:
- ion-checkbox
*/
@utility ion-checkbox-checkmark-w-* {
    --checkmark-width: calc(var(--spacing) * --value(number));
}
@utility ion-checkbox-checkmark-color-* {
    --checkmark-color: --value(--color-*);
}
@utility ion-checkbox-bg-checked-* {
    --checkbox-background-checked: --value(--color-*);
}
@utility ion-checkbox-bg-* {
    --checkbox-background: --value(--color-*);
}
@utility ion-checkbox-border-checked-* {
    --border-color-checked: --value(--color-*);
}
@utility ion-checkbox-w-* {
    --checkbox-width: calc(var(--spacing) * --value(number));
    --checkbox-width: --value(--checkbox-width-*, [percentage]);
}
@utility ion-checkbox-align-* {
  --checkbox-text-align: --value('start', 'end', 'left', 'right', 'center', 'justify', 'match-parent');
}
/*
Components:
- ion-col
*/
@utility ion-col-p-* {
    --ion-grid-column-padding: calc(var(--spacing) * --value(number));
}
@utility ion-col-p-lg-* {
    --ion-grid-column-padding-lg: calc(var(--spacing) * --value(number));
}
@utility ion-col-p-md-* {
    --ion-grid-column-padding-md: calc(var(--spacing) * --value(number));
}
@utility ion-col-p-sm-* {
    --ion-grid-column-padding-sm: calc(var(--spacing) * --value(number));
}
@utility ion-col-p-xl-* {
    --ion-grid-column-padding-xl: calc(var(--spacing) * --value(number));
}
@utility ion-col-p-xs-* {
    --ion-grid-column-padding-xs: calc(var(--spacing) * --value(number));
}
@utility ion-col-cols-* {
    --ion-grid-columns: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-content
*/
@utility ion-content-offset-t-* {
    --offset-top: calc(var(--spacing) * --value(number));
}
@utility ion-content-keyboard-offset-* {
    --keyboard-offset: calc(var(--spacing) * --value(number));
}
@utility ion-content-offset-b-* {
    --offset-bottom: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-datetime
*/
@utility ion-datetime-bg-wheel-fade-rgb-* {
    --wheel-fade-background-rgb: --value(integer); /*TODO*/
}
@utility ion-datetime-title-color-* {
    --title-color: --value(--color-*);
}
@utility ion-datetime-bg-wheel-highlight-* {
    --wheel-highlight-background: --value(--color-*);
}
@utility ion-datetime-wheel-highlight-rounded-* {
    --wheel-highlight-border-radius: --value(integer)px; /*TODO*/
}
/*
Components:
- ion-fab-button
*/
@utility ion-fab-button-text-close-icon-size-* {
    --close-icon-font-size: --value(integer)px; /*TODO*/
}
/*
Components:
- ion-grid
*/
@utility ion-grid-p-sm-* {
    --ion-grid-padding-sm: calc(var(--spacing) * --value(number));
}
@utility ion-grid-p-lg-* {
    --ion-grid-padding-lg: calc(var(--spacing) * --value(number));
}
@utility ion-grid-p-md-* {
    --ion-grid-padding-md: calc(var(--spacing) * --value(number));
}
@utility ion-grid-p-xl-* {
    --ion-grid-padding-xl: calc(var(--spacing) * --value(number));
}
@utility ion-grid-p-xs-* {
    --ion-grid-padding-xs: calc(var(--spacing) * --value(number));
}
@utility ion-grid-w-* {
    --ion-grid-width: calc(var(--spacing) * --value(number));
}
@utility ion-grid-w-lg-* {
    --ion-grid-width-lg: calc(var(--spacing) * --value(number));
}
@utility ion-grid-w-md-* {
    --ion-grid-width-md: calc(var(--spacing) * --value(number));
}
@utility ion-grid-w-sm-* {
    --ion-grid-width-sm: calc(var(--spacing) * --value(number));
}
@utility ion-grid-w-xl-* {
    --ion-grid-width-xl: calc(var(--spacing) * --value(number));
}
@utility ion-grid-w-xs-* {
    --ion-grid-width-xs: calc(var(--spacing) * --value(number));
}
@utility ion-grid-p-* {
    --ion-grid-padding: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-item
*/
@utility ion-item-shadow-inner-* {
    --inner-box-shadow: --value(integer); /*TODO*/
}
@utility ion-item-detail-icon-color-* {
    --detail-icon-color: --value(--color-*);
}
@utility ion-item-detail-icon-size-* {
    --detail-icon-font-size: --value(integer)px; /*TODO*/
}
@utility ion-item-detail-icon-opacity-* {
    --detail-icon-opacity: --value(number); /*TODO*/
}
/*
Components:
- ion-loading
*/
@utility ion-loading-spinner-color-* {
    --spinner-color: --value(--color-*);
}
/*
Components:
- ion-picker
*/
@utility ion-picker-bg-fade-rgb-* {
    --fade-background-rgb: --value(integer); /*TODO*/
}
@utility ion-picker-bg-highlight-* {
    --highlight-background: --value(--color-*);
}
@utility ion-picker-highlight-rounded-* {
    --highlight-border-radius: --value(integer)px;
}
/*
Components:
- ion-popover
*/
@utility ion-popover-offset-x-* {
    --offset-x: calc(var(--spacing) * --value(number));
}
@utility ion-popover-offset-y-* {
    --offset-y: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-progress-bar
*/
@utility ion-progress-bar-bg-* {
    --progress-background: --value(--color-*);
}
/*
Components:
- ion-radio
*/
@utility ion-radio-inner-rounded-* {
    --inner-border-radius: --value(integer)px;
}
/*
Components:
- ion-range
*/
@utility ion-range-bar-bg-active-* {
    --bar-background-active: --value(--color-*);
}
@utility ion-range-knob-bg-* {
    --knob-background: --value(--color-*);
}
@utility ion-range-pin-color-* {
    --pin-color: --value(--color-*);
}
@utility ion-range-pin-bg-* {
    --pin-background: --value(--color-*);
}
@utility ion-range-bar-bg-* {
    --bar-background: --value(--color-*);
}
@utility ion-range-knob-size-* {
    --knob-size: --value(integer)px; /*TODO*/
}
@utility ion-range-knob-shadow-* {
    --knob-box-shadow: --value(integer); /*TODO*/
}
@utility ion-range-knob-rounded-* {
    --knob-border-radius: --value(integer)px; /*TODO*/
}
@utility ion-range-bar-rounded-* {
    --bar-border-radius: --value(integer)px; /*TODO*/
}
@utility ion-range-bar-h-* {
    --bar-height: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-searchbar
*/
@utility ion-searchbar-icon-color-* {
    --icon-color: --value(--color-*);
}
@utility ion-searchbar-clear-btn-color-* {
    --clear-button-color: --value(--color-*);
}
@utility ion-searchbar-cancel-btn-color-* {
    --cancel-button-color: --value(--color-*);
}
/*
Components:
- ion-segment-button
*/
@utility ion-segment-button-indicator-shadow-* {
    --indicator-box-shadow: --value(integer);
}
@utility ion-segment-button-indicator-h-* {
    --indicator-height: calc(var(--spacing) * --value(number));
}
@utility ion-segment-button-indicator-transform-* {
    --indicator-transform: --value(integer); /*TODO*/
}
@utility ion-segment-button-indicator-ease-* {
    --indicator-transition: --value(integer); /*TODO*/
}
@utility ion-segment-button-bg-checked-* {
    --background-checked: --value(--color-*);
}
@utility ion-segment-button-indicator-color-* {
    --indicator-color: --value(--color-*);
}
/*
Components:
- ion-split-pane
*/
@utility ion-split-pane-max-w-* {
    --side-max-width: calc(var(--spacing) * --value(number));
}
@utility ion-split-pane-w-* {
    --side-width: calc(var(--spacing) * --value(number));
}
@utility ion-split-pane-min-w-* {
    --side-min-width: calc(var(--spacing) * --value(number));
}
/*
Components:
- ion-tab-button
*/
@utility ion-tab-button-text-selected-* {
    --color-selected: --value(--color-*);
}
/*
Components:
- ion-toast
*/
@utility ion-toast-white-space-* {
    --white-space: --value(integer); /*TODO*/
}
@utility ion-toast-end-* {
    --end: --value(integer)px; /*TODO*/
}
@utility ion-toast-start-* {
    --start: --value(integer)px; /*TODO*/
}
/*
Components:
- ion-toggle
*/
@utility ion-toggle-handle-w-* {
    --handle-width: calc(var(--spacing) * --value(number));
}
@utility ion-toggle-handle-shadow-* {
    --handle-box-shadow: --value(integer); /*TODO*/
}
@utility ion-toggle-handle-h-* {
    --handle-height: calc(var(--spacing) * --value(number));
}
@utility ion-toggle-track-bg-* {
    --track-background: --value(--color-*);
}
@utility ion-toggle-track-bg-checked-* {
    --track-background-checked: --value(--color-*);
}
@utility ion-toggle-handle-spacing-* {
    --handle-spacing: --value(integer)px;
}
@utility ion-toggle-handle-max-h-* {
    --handle-max-height: calc(var(--spacing) * --value(number));
}
@utility ion-toggle-handle-bg-* {
    --handle-background: --value(--color-*);
}
@utility ion-toggle-handle-bg-checked-* {
    --handle-background-checked: --value(--color-*);
}
@utility ion-toggle-handle-rounded-* {
    --handle-border-radius: --value(integer)px;
}
@utility ion-toggle-handle-ease-* {
    --handle-transition: --value(integer); /*TODO*/
}